@charset "utf-8";
/* CSS Document */

#main_mnu {
	width: 100%;
	height: 30px;
	background-image: url(images/main_mnu_bg.png);
	background-repeat: no-repeat;
clear: both;
}

#main_mnu p {
	font-size: 1.8em;
	text-align: center;

}

#main_mnu ul {
	font-size: 1.7em;
	list-style: none;
	margin: 0 auto;
	width: 810px;
	color: #FFFFFF;
}

#main_mnu li {
	float: left;
	margin-top: 5px;
	padding-right: 18px;
	padding-left: 12px;
	padding-top: 0px;
	padding-bottom: 12px;
	height: 8px;
}

#main_mnu li a, #main_mnu li a:visited {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial;
	font: url('css/fonts/arial.svg');
}

#main_mnu li:last-child a {
	border-right: none;
}

#main_mnu li a:hover, #main_mnu li a:active, #main_mnu li a:focus {
	color: #88B900;
}


#foot_mnu {
	background-color: red;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

#foot_mnu ul {
	font-size: 1.2em;
	font-style: normal;
	list-style: none;
	margin: 0 auto;
	float: left;
}
#foot_mnu li {
	float: left;
	padding-right: 10px;
	padding-left: 0px;
}
#foot_mnu li a {
	display: block;
	text-decoration: none;
	color: #6C7581;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
}
#foot_mnu li:first-child a {}
#foot_mnu li a:hover {
	color: #232323;
}

#pop_mnu {
	width: 100%;
	height: 28px;
	background-color: #007D65;
}

#pop_mnu ul {
	font-size: 1.4em;
	list-style: none;
	margin: 0 auto;
	width: 450px;
}

#pop_mnu li {
	float: left;
}

#pop_mnu li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	height: 30px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}

#pop_mnu li:last-child a {
	border-right: none;
}

#pop_mnu li a:hover {
	color: #88B900;
}

.tabletop2 {
	text-align: right;
	margin-top: 10px;
	padding-top: 36px;
}

.tabletop2 h5 {
	font-size: 1.2em;
	list-style: none;
	margin: 0 auto;

	color: #999999;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.tabletop2 a:link, .tabletop2 a:visited {
	color: #999999;	
	text-decoration: none;
	
}

.tabletop2 a:hover, .tabletop2 a:active, .tabletop2 a:focus{
	color: #28a600;
	text-decoration: none;	
}