var lastRow = $('div.result tr:last');
var newRow = lastRow.after("<tr><td><%=number_to_currency(@tax[:projected_annual_income])%></td><td><%=number_to_currency(@tax[:monthly_income_tax])%></td></tr>");

