<h1>Calculate Income Tax</h1>


<%=form_tag(tax_sv_calco_path, remote: true) do %>
  <%= text_field_tag :income %>
  <%= submit_tag 'Submit' %>
<% end %>

<div class="mtax">
<span>Monthly Income Tax</span><p/>
</div>