/* just some styling */

.demo {
    vertical-align: top;
    display: block;
    margin: 1em 1%;
    width: 250px;
    background-color: rgba(0, 0, 0, .1);
    padding: 1% 1%;
    border-radius: 10px;

    th {
        background: #3e83c9;
        font-weight: bold;
        text-align: center;
    }

    td {
        border-bottom: 1px solid #95bce2;
        vertical-align: top;
        padding: 0 0;
        text-align: center;
    }

}

.demo.full-row {
    width: 95%;
}

.demo ul, .demo ol {list-style-position: inside;}
.demo .box {
    float: left;
    margin: 0 1em 1em 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #F8F7F6 url('datepicker/ui-bg_fine-grain_10_f8f7f6_60x60.png') 50% 50% repeat;
}

/* begin: jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #743620 none;
	color: white;
}
/* end: jQuery UI Datepicker emphasis on selected dates */


/* begin: jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}
/* end: jQuery UI Datepicker hide datepicker helper */

.ui-datepicker-prev, .ui-datepicker-next {
    
}