// Place all the styles related to the TaxSv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tax_calc_form div.buttons input { 
    display: inline
}

.clear_button {
    float: right
}

div.result {
    margin-top: 25px;
}

.tax_calc_form {

    width: 425px;
    display: block;

    label {
        float: left;
        width: 160px;
        text-align: right;
        clear: left;
        margin-right: 1em;
    }

    input {
        display: block;
    }

    select {
        display: block;
    }

    .submit { float: left }
}

.month, .tax_bracket{ width: 20px}
.sss { width: 50px }
.pe { width: 70px }

div.holidays_box {
    width: 200px;
    float: right;

}