// Place all the styles related to the TaxSv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




div.result {
    margin-top: 25px;
}



.month, .tax_bracket{ width: 20px}
.sss { width: 50px }
.pe { width: 70px }

div.right_nav {
    float: right;
}
div.holidays_box {
    float: right;
    margin: 1em;
}

/* begin: jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */