<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Phillipine Income Tax Calculator" />
  <meta name="keywords" content="Income Tax, Philippines, Calculator" />
  <meta name="author" content="Mr.Jacky" />
  
  <title>JPayroll (beta)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
